<h1>Categories</h1>

<table cols="3"  >
   <tr>
     <th width=80%></th>
     <th width="40px" ></th>
     <th width="40px" ></th>
   </tr>
  <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name_cat, category_path(category) %></td>
        <% if (current_user != nil)&&(current_user.is_admin == true) %>
          <td><%= link_to 'Edit', edit_category_path(category) %></td>
          <td><%= link_to 'Destroy', category_path(category),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  <% end %>
</table>
